<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="tableincrementaloutput"
   iconfile="OBF.png"
   description="Obfuscation"
   tooltip="Data Obfuscationt"
   category="Transformation"
   classname="com.aofei.kettleplugin.obfus.ObfusMeta">
   <libraries>
    <library name="obfus.jar"/>
    </libraries>
    
   <localized_category>
     <category locale="en_US">Transformation</category>
     <category locale="zh_CN">×ª»»</category>
   </localized_category>
   <localized_description>
     <description locale="en_US">Obfuscation</description>
      <description locale="zh_CN">Data Obfuscation</description>
   </localized_description>
   <localized_tooltip>
     <tooltip locale="en_US">Obfuscation</tooltip>
     <tooltip locale="zh_CN">Data Obfuscation</tooltip>
   </localized_tooltip>
   
</plugin>
